In [34]:
import pandas as pd

pd.options.display.max_columns = 200

df = pd.read_csv("../data/Walmart_Data_Analysis_and_Forcasting.csv", low_memory=False)

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [35]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

#convert date from object to date

In [36]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors = 'coerce')

#using te IQR for numeric var or values to detect the ourliers

In [37]:
numeric_cols = ['Weekly_Sales', 'Temperature','Fuel_Price', 'CPI', 'Unemployment']

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))]
    print(f"{col} Outliers: {len(outliers)}")

Weekly_Sales Outliers: 34
Temperature Outliers: 3
Fuel_Price Outliers: 0
CPI Outliers: 0
Unemployment Outliers: 481

In [38]:
from src.cleaning import analyze_outliers
numeric_cols = ['Weekly_Sales', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']
outliers_results = analyze_outliers(df, numeric_cols)

outliers_results.sort_values('Date').head(35)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Outlier_Column,Lower_Bound,Upper_Bound,Possible_Cause
223,28,2010-02-05,1672352.29,0,49.47,2.962,126.442065,13.975,Unemployment,4.2945,11.2185,High Unemployment
349,38,2010-02-05,358496.14,0,49.47,2.962,126.442065,13.975,Unemployment,4.2945,11.2185,High Unemployment
54,12,2010-02-05,1100046.37,0,49.47,2.962,126.442065,13.975,Unemployment,4.2945,11.2185,High Unemployment
350,38,2010-02-12,342214.90,1,47.87,2.946,126.496258,13.975,Unemployment,4.2945,11.2185,High Unemployment
55,12,2010-02-12,1117863.33,1,47.87,2.946,126.496258,13.975,Unemployment,4.2945,11.2185,High Unemployment
224,28,2010-02-12,1558968.49,1,47.87,2.946,126.496258,13.975,Unemployment,4.2945,11.2185,High Unemployment
351,38,2010-02-19,327237.92,0,54.83,2.915,126.526286,13.975,Unemployment,4.2945,11.2185,High Unemployment
56,12,2010-02-19,1095421.65,0,54.83,2.915,126.526286,13.975,Unemployment,4.2945,11.2185,High Unemployment
225,28,2010-02-19,1491300.42,0,54.83,2.915,126.526286,13.975,Unemployment,4.2945,11.2185,High Unemployment
57,12,2010-02-26,1048617.17,0,50.23,2.825,126.552286,13.975,Unemployment,4.2945,11.2185,High Unemployment
352,38,2010-02-26,334222.73,0,50.23,2.825,126.552286,13.975,Unemployment,4.2945,11.2185,High Unemployment
226,28,2010-02-26,1542173.33,0,50.23,2.825,126.552286,13.975,Unemployment,4.2945,11.2185,High Unemployment
58,12,2010-03-05,1077018.27,0,53.77,2.987,126.578286,13.975,Unemployment,4.2945,11.2185,High Unemployment
353,38,2010-03-05,372239.89,0,53.77,2.987,126.578286,13.975,Unemployment,4.2945,11.2185,High Unemployment
227,28,2010-03-05,1608435.45,0,53.77,2.987,126.578286,13.975,Unemployment,4.2945,11.2185,High Unemployment
59,12,2010-03-12,985594.23,0,50.11,2.925,126.604286,13.975,Unemployment,4.2945,11.2185,High Unemployment
228,28,2010-03-12,1326877.11,0,50.11,2.925,126.604286,13.975,Unemployment,4.2945,11.2185,High Unemployment
354,38,2010-03-12,342023.92,0,50.11,2.925,126.604286,13.975,Unemployment,4.2945,11.2185,High Unemployment
355,38,2010-03-19,333025.47,0,59.57,3.054,126.606645,13.975,Unemployment,4.2945,11.2185,High Unemployment
60,12,2010-03-19,972088.34,0,59.57,3.054,126.606645,13.975,Unemployment,4.2945,11.2185,High Unemployment
229,28,2010-03-19,1279819.43,0,59.57,3.054,126.606645,13.975,Unemployment,4.2945,11.2185,High Unemployment
61,12,2010-03-26,981615.81,0,60.06,3.083,126.605064,13.975,Unemployment,4.2945,11.2185,High Unemployment
356,38,2010-03-26,335858.11,0,60.06,3.083,126.605064,13.975,Unemployment,4.2945,11.2185,High Unemployment
230,28,2010-03-26,1245268.77,0,60.06,3.083,126.605064,13.975,Unemployment,4.2945,11.2185,High Unemployment
357,38,2010-04-02,368929.55,0,59.84,3.086,126.603484,14.099,Unemployment,4.2945,11.2185,High Unemployment
231,28,2010-04-02,1441559.40,0,59.84,3.086,126.603484,14.099,Unemployment,4.2945,11.2185,High Unemployment
62,12,2010-04-02,1011822.30,0,59.84,3.086,126.603484,14.099,Unemployment,4.2945,11.2185,High Unemployment
358,38,2010-04-09,341630.46,0,59.25,3.090,126.601903,14.099,Unemployment,4.2945,11.2185,High Unemployment
63,12,2010-04-09,1041238.87,0,59.25,3.090,126.601903,14.099,Unemployment,4.2945,11.2185,High Unemployment
232,28,2010-04-09,1382359.21,0,59.25,3.090,126.601903,14.099,Unemployment,4.2945,11.2185,High Unemployment
359,38,2010-04-16,337723.49,0,64.95,3.109,126.562100,14.099,Unemployment,4.2945,11.2185,High Unemployment
233,28,2010-04-16,1268240.66,0,64.95,3.109,126.562100,14.099,Unemployment,4.2945,11.2185,High Unemployment
64,12,2010-04-16,957997.52,0,64.95,3.109,126.562100,14.099,Unemployment,4.2945,11.2185,High Unemployment
360,38,2010-04-23,335121.82,0,64.55,3.050,126.471333,14.099,Unemployment,4.2945,11.2185,High Unemployment
65,12,2010-04-23,993833.44,0,64.55,3.050,126.471333,14.099,Unemployment,4.2945,11.2185,High Unemployment

#check the negative value where is mistake at the enter the data

In [39]:
df[df['Weekly_Sales'] < 0]

Empty DataFrame
Columns: [Store, Date, Weekly_Sales, Holiday_Flag, Temperature, Fuel_Price, CPI, Unemployment]
Index: []

In [40]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

In [43]:
df.to_pickle("../data/proccessed/retail_after_format.pkl")